@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
input,
button {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

/* ### Header Block ### */
header.header {
	padding: 12px 10px;
	background-color: #fff159;
}
.header__search-form {
	height: 44px;
	max-width: 510px;
	display: flex;
	margin: 0 auto;
}
.header__search-input {
	font-size: 18px;
	border: 1px solid #300c0c;
	background: #fff;
	border-radius: 4px;
	padding: 10px;
	width: 100%;
}
.header__send-button {
	font-weight: 700;
	padding: 12px 0;
	width: 110px;
	border-radius: 4px;
	border: 1px solid #000;
	margin-left: 14px;
}

/* ### Results Quantity Block ### */
.results-container {
	max-width: 510px;
	margin: 20px auto;
}
.search-results {
	margin-left: 10px;
}
/* Ver forma de no tener que hacer estos arreglos */
@media (min-width: 525px) {
	.search-results {
		margin-left: 0;
	}
}
/* .search-results__quantity {
} */

/* ### Loader ### */
.loader-container {
	max-width: 510px;
	margin: 50px auto;
	text-align: center;
	display: none;
}
.loader-container i {
	font-size: 100px;
}

/* ### Product Block ### */
.product-container {
	max-width: 510px;
	margin: 0 10px;
}
/* Ver forma de no tener que hacer estos arreglos */
@media (min-width: 525px) {
	.product-container {
		max-width: 510px;
		margin: 0 auto;
	}
}
.product-permalink {
	text-decoration: none;
	color: #000;
}
@media (min-width: 769px) {
	.product-permalink:hover {
		opacity: 0.5;
		transition: opacity 0.5s;
	}
}
.product {
	margin-bottom: 16px;
	border-radius: 4px;
	border: 1px solid #000;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	height: 45vh;
}
@media (min-width: 525px) {
	.product {
		flex-direction: row;
		height: auto;
		text-align: left;
	}
}
.product__description-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
@media (min-width: 525px) {
	.product__description-container {
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		padding: 10px;
	}
}
.product__description-details {
	display: flex;
	flex-direction: column;
}
@media (min-width: 525px) {
	.product__description-details {
		justify-content: space-between;
		padding-right: 10px;
	}
}
/* .product__principal-details{
} */
.product__img {
	width: 128px;
	height: 119px;
	align-self: center;
}
.product__title {
	margin: 0;
}
@media (min-width: 525px) {
	.product__title {
		margin-bottom: 5px;
	}
}
/* .product__condition {
} */
.product__price {
	font-size: 28px;
	color: #5791a4;
	font-weight: 700;
	margin-top: 10px;
}
@media (min-width: 525px) {
	.product__price {
		margin-top: 0;
	}
}
.product__stock {
	margin-top: 10px;
}
/* .product__stock__quantity {
} */

/* Mejorar padding y margenes */
